<h1>New Place, Yeehaw</h1>

<form action="/places" method="post">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </p>

  <button>Submit</button>
  <a href="/places">Cancel</a>
</form>